@model ImmigrationApplication.Model.Parent
@using ImmigrationApplication.DataAccess
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.PersonID } })
@Html.HiddenFor(model => model.PersonID)
<style>
    a {
        color: black;
        background-color:blue;
    }
</style>
<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityofResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityofResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>

    </dl>
</div>
<p>
    @{
        var encdyc = new EncryptAndDecrypt();
        var pid = encdyc.EncryptToBase64(Model.ParentID);
        var perid = encdyc.EncryptToBase64(Model.PersonID);
    }
    @Html.ActionLink("Edit", "Edit", new {parentid = pid }) |
    @Html.ActionLink("Back to List", "Index", new { personid = perid })
</p>

