
@using ImmigrationApplication.DataAccess
@{
    EncryptAndDecrypt encdyc = new EncryptAndDecrypt();
    int personid = encdyc.DecryptToBase64(ViewBag.PersonID);
}

@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", personid } })
@using System.Data;
<style>
    
 form {
        margin-top:50px; 
    }
 input {
     margin-bottom: 10px;
 }
table {
    font-family: arial, sans-serif;
    border : 1px solid black;
    padding:5px;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


@using (Html.BeginForm("Upload", "FileUpload", new { personId = ViewBag.PersonID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td><input type="file" name="File" /></td>
            <td><input type="submit" name="Submit" id="Submit" value="Upload" /></td>
       </tr>
    </table>
    <br />
}


<table>
    <tr>
        <th>File Upload Details</th>
    </tr>
    <tr>
        <th>File Name</th>
        <th>File Length</th>
        <th>File Type</th>
    </tr>
  
    @foreach(string str in ViewBag.fir)
    {
        FileInfo fi = new FileInfo(str);
        string ext = fi.Name;
        <tr>
            <td>@Html.ActionLink(@fi.Name, "Download",new {name = str, extension = ext})</td>
            <td>@fi.Length</td>
            <td>@fi.Extension</td>
        </tr>
    }
</table>