
<style>
    .nav {
        margin-top: 10px;
        margin-bottom: 5px;
        float: left;
    }

        .nav li {
            margin-right: 10px;
        }

            .nav li:hover {
                text-decoration: none;
                color: black;
                background-color: blue;
            }

    .navbar-nav > li > a {
        text-decoration: none;
        color: white;
    }

        .navbar-nav > li > a :hover {
            padding-top: 2px;
            text-decoration: none;
            background-color: blue;
        }

    .flex-container {
        padding: 0;
        margin: 10px;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        /* ReSharper disable once CssBrowserCompatibility */
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        display: block;
    }

    .flex-item {
        background: #edb91e;
        width: 110px;
        height: 60px;
        margin-top: 12px;
        font-weight: bold;
        text-align: center;
    }
</style>

@{
    var personId = Convert.ToInt32(ViewData["PersonID"]);
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav flex-container">
        <li class="flex-item hvr-bounce-to-top" style="padding-top: 2px;">@Html.ActionLink("Person", "Index", "Person", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Address", "Index", "Address", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Education", "Index", "Education", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Employment", "Index", "Employment", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Spouse Details", "Index", "FormerSpouse", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Children", "Index", "Children", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Parents", "Index", "Parent", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Previous Application Details", "Index", "PreviousApplication", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Us Relative", "Index", "UsRelative", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Last US Entry Details", "Index", "LastArrivalDetail", new { personid = personId }, null)</li>
        <li class="flex-item hvr-bounce-to-top">@Html.ActionLink("Other Details", "Index", "OtherDetails", new { personid = personId }, null)</li>
    </ul>
</div>
