
<style>
    .nav  {
        margin-top:10px;
        margin-bottom:5px;
        float:left;
    }

</style>



<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Address", "Index", "Address")</li>
        <li>@Html.ActionLink("Education", "Index", "Education")</li>
        <li>@Html.ActionLink("Employment", "Index", "Employment")</li>
        <li>@Html.ActionLink("Spouse Details", "Index", "FormerSpouse")</li>
        <li>@Html.ActionLink("Children", "Index", "Children")</li>
        <li>@Html.ActionLink("Parents", "Index", "Parent")</li>
        <li>@Html.ActionLink("Previous Application Details", "Index", "PreviousApplication")</li>
        <li>@Html.ActionLink("Us Relative", "Index", "UsRelative")</li>
        <li>@Html.ActionLink("Last US Entry Details", "Index", "LastArrivalDetail")</li>
        <li>@Html.ActionLink("Other Details", "Index", "OtherDetails")</li>
    </ul>
</div>