@model ImmigrationApplication.Model.FormerSpouse
@using ImmigrationApplication.DataAccess
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.PersonID } })
@Html.HiddenFor(model => model.PersonID)
<div>
    <h4>FormerSpouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofMarriage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofMarriage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityofMarriage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityofMarriage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryofMarriage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryofMarriage)
        </dd>

    </dl>
</div>
<p>
    @{
        var encdyc = new EncryptAndDecrypt();
        var spouseid = encdyc.EncryptToBase64(Model.FormerSpouseID);
        var pid = encdyc.EncryptToBase64(Model.PersonID);
    }
    @Html.ActionLink("Edit", "Edit", new {formerspouseid = spouseid}) |
    @Html.ActionLink("Back to List", "Index" , new {personid = pid })
</p>
