@model IEnumerable<ImmigrationApplication.Model.FormerSpouse>
@using ImmigrationApplication.DataAccess
@* ReSharper disable once PossibleNullReferenceException *@
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.FirstOrDefault().PersonID } })
<p>
    @{
        var endy = new EncryptAndDecrypt();
        // ReSharper disable once PossibleNullReferenceException
        var pid = endy.EncryptToBase64(Model.FirstOrDefault().PersonID);
    }
    @Html.ActionLink("Create New", "Create", new { personId = pid })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofMarriage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityofMarriage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryofMarriage)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofMarriage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityofMarriage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryofMarriage)
        </td>
        <td>
            @{
                var encdyc = new EncryptAndDecrypt();
                var spouseid = encdyc.EncryptToBase64(item.FormerSpouseID);
            }
            @Html.ActionLink("Edit", "Edit", new {formerspouseid = spouseid }) |
            @Html.ActionLink("Details", "Details", new {formerspouseid = spouseid }) 
        </td>
    </tr>
}

</table>
