@model ImmigrationApplication.Model.PreviousApplication
@using ImmigrationApplication.DataAccess
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.PersonID } })
@Html.HiddenFor(model => model.PersonID)
<div>
    <h4>PreviousApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusGranted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusGranted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicateIfDenied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicateIfDenied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapGap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapGap)
        </dd>

    </dl>
</div>
<p>
    @{
        var encdyc = new EncryptAndDecrypt();
        var pid = encdyc.EncryptToBase64(Model.PreviousApplicationID);
        var perid = encdyc.EncryptToBase64(Model.PersonID);
    }
    @Html.ActionLink("Edit", "Edit", new {previousappid = pid }) |
   @Html.ActionLink("Back to List", "Index", new { personid = perid })
</p>
