@model ImmigrationApplication.Model.OtherDetail
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.PersonID } })
<div>
    <h4>OtherDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutFirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutFirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguagesSpoken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguagesSpoken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conviction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conviction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OtherDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
