@model IEnumerable<ImmigrationApplication.Model.OtherDetail>
@using ImmigrationApplication.DataAccess
@* ReSharper disable once PossibleNullReferenceException *@
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.FirstOrDefault().PersonID } })
<p>
    @{
        var endy = new EncryptAndDecrypt();
        // ReSharper disable once PossibleNullReferenceException
        var pid = endy.EncryptToBase64(Model.FirstOrDefault().PersonID);
    }
    @Html.ActionLink("Create New", "Create", new { personId = pid })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AboutFirm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguagesSpoken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conviction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherInformation)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AboutFirm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguagesSpoken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conviction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherInformation)
        </td>
        <td>
            @{
                var encdyc = new EncryptAndDecrypt();
                var detailid = encdyc.EncryptToBase64(item.OtherDetailsID);
            }
            @Html.ActionLink("Edit", "Edit", new {otherdetailid = detailid }) |
            @Html.ActionLink("Details", "Details", new {otherdetailid = detailid }) 
        </td>
    </tr>
}

</table>
