@model ImmigrationApplication.WebApi.ViewModels.PrintApplicantDetails
@Html.Partial("~/Views/Shared/_navbar.cshtml", new ViewDataDictionary { { "PersonID", Model.Person.PersonID } })
@{
    ViewBag.Title = "Print View"; 
}

<h1>@Model.Person.FirstName</h1>
<h1>@Model.Person.LastName</h1>
@foreach (var item in Model.Address)
{
    <h1>@item.State</h1>
}
<h1>@Model.Education.Name</h1>

<br />
<a href="@Url.Action("ExportPDF","PrintDetails")">Export PDF</a>