@model ImmigrationApplication.WebApi.ViewModels.PrintApplicantDetails
    

@{
    ViewBag.Title = "Print View"; 
}

<h1>@Model.Person.FirstName</h1>
<h1>@Model.Person.LastName</h1>
@foreach (var item in Model.Address)
{
    <h1>@item.State</h1>
}
<h1>@Model.Education.Name</h1>

<br />
<p>
@Html.ActionLink("Print","ExportPdf")
 </p>