@model IEnumerable<ImmigrationApplication.Model.Person>
<style>
    .body-content {
        padding-top:25px;
    }

</style>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MartialStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USVisaType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I94ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthCity)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MartialStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USVisaType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I94ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthCity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
        </td>
    </tr>
}

</table>
